/* FONTS */
@font-face {
  font-family: 'Space Grotesk';
  src: url(./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
  font-style: normal;
  font-display: swap;
}

/* CUSTOM PROPERTIES */
:root {
  --clr-primary: hsl(153, 71%, 59%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(0, 0%, 85%);
  --clr-neutral-700: hsl(0, 0%, 14%);
  --clr-neutral-900: hsl(0, 0%, 8%);

  --ff-primary: 'Space Grotesk', sans-serif;

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-normal: 400;
}

/* RESET STYLES */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements 
with a list role, which suggests default 
styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  /* height: 100%; */
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* TYPOGRAPHY */
body {
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-500);
  line-height: 1.625;
  font-weight: var(--fw-medium);
  background-color: var(--clr-neutral-900);
}

a {text-decoration: none;}

.heading-xl,
.heading-large,
.heading-medium {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
}

.heading-xl {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -1.14px;
}

.heading-large {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -1px;
}

.heading-medium {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.3;
}

@media (min-width: 37.5em) {
  
}

@media (min-width: 45em) {
  body {
    font-size: 1.125rem;
    line-height: 1.56;
  }

  .heading-xl {
    font-size: 4.5rem;
  }

  .heading-large {
    font-size: 3rem;
    line-height: 1.17;
  }
}

@media (min-width: 56.25em) {
  .heading-xl {
    font-size: 5.5rem;
  }
}

/* LAYOUT */
.wrapper {
  width: min(calc(100% - 2rem), 1110px);
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}

.flex {
  display: flex;
  align-items: center;
  gap: var(--flex-gap, 1rem);
}

@media (min-width: 45em) {
  .wrapper {
    width: min(calc(100% - 3.75rem), 1110px);
  }
}

/* LINKS */
.link {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--clr-neutral-100);
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.link:hover,
.link:focus-visible {
  color: var(--clr-primary);
}

.link::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--clr-primary);
  margin-top: 10px;
  width: 105%;
}

/* INPUTS */
.input-group {
  border-bottom: 1px solid var(--clr-neutral-100);
  padding-inline: 1.5rem;
  padding-bottom: 1rem;
}

.input-group:focus-within {
  border-color: green;
}

.input-group.error {
  border-color: #FF6F5B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.input-group.error::after {
  content: '!';
  display: inline-grid;
  place-items: center;
  font-size: .875rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 1px solid #FF6F5B;
  color: #FF6F5B;
}

.primary-input {
  color: var(--clr-neutral-100);
  background-color: transparent;
  border: 0;
  outline: 0;
  flex: 1;
  width: 100%;
}

.primary-input[type='text'] {
  text-transform: uppercase;
}

.primary-input::placeholder {
  text-transform: uppercase;
}

textarea {
  height: 108px;
  resize: vertical;
}

/* INTRO SECTION */
.intro {
  background-image: url(./assets/images/pattern-rings.svg),
    url(./assets/images/pattern-circle.svg);
  background-size: 530px, auto;
  background-position: left -350px top 7rem, right -65px top 16rem;
  background-repeat: no-repeat;
}

.intro__wrapper {
  --grid-gap: 0;
  width: auto;
  max-width: 540px;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: 1.25rem auto auto;
}

.profile-container,
.primary-nav--header {
  grid-column: 2/3;
  grid-row: 1/2;
}

.primary-nav {
  --flex-gap: 1.5rem;
  flex-direction: column;
}

.primary-nav--header {
  justify-self: center;
  align-self: start;
  grid-row: 2 / 3;
}

.profile-container {
  grid-row: 1 / 4;
  justify-self: center;
  max-width: 175px;
}

.logo {
  text-decoration: none;
  color: var(--clr-neutral-100);
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: var(--fw-bold);
}

.nav__links {
  --flex-gap: 2.75rem;
  justify-content: space-between;
  align-self: stretch;
}

.icon {
  width: 20px;
  aspect-ratio: 1/1;
  fill: var(--clr-neutral-100);
}

.icon:hover {
  fill: var(--clr-primary);
}

.intro__content {
  --grid-gap: 1.5rem;
  margin-top: 2.5rem;
  text-align: center;
  grid-column: 2/3;
}

.intro__break {
  display: none;
}

.intro__content .link {
  justify-self: center;
}

.decorate {
  display: inline-block;
}

.decorate::after {
  content: '';
  display: block;
  height: 4px;
  background-color: var(--clr-primary);
  position: relative;
  z-index: 1;
}

@media (min-width: 45em) {
  .intro {
    background-image: url(./assets/images/pattern-rings.svg);
    background-position: left -350px top 4rem
  }

  .intro__wrapper {
    max-width: none;
    grid-template-columns: 1.875rem repeat(10, 1fr) 1.875rem;
    grid-template-rows: 1.875rem auto auto;
  }

  .primary-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .primary-nav--header {
    grid-column: 2 / -2;
    justify-self: stretch;
    z-index: 1;
  }

  .logo {
    font-size: 2rem;
  }

  .profile-container {
    grid-column: 8 / -1;
    justify-self: stretch;
    max-width: none;
    width: 100%;
    position: relative;
  }

  .profile-container::after {
    content: '';
    position: absolute;
    width: 129px;
    aspect-ratio: 1/1;
    bottom: 0;
    right: 0;
    background-image: url(./assets/images/pattern-circle.svg);
    background-size: contain;
    background-position: center left 65px;
    background-repeat: no-repeat;
  }

  .intro__content {
    margin: 0;
    text-align: left;
    grid-row-start: 3;
    grid-column: 2 / 9;
    z-index: 1;
    margin-top: 4rem;
  }

  .intro__break {
    display: inline;
  }

  .intro__content .link {
    justify-self: start;
  }

  .intro__content p {
    max-width: 38ch;
    margin-block: 2.25rem .625rem;
  }
}

@media (min-width: 56.25em) {
  .intro__wrapper {
    width: min(calc(100% - 3.75rem), 1110px);
    grid-template-columns: repeat(12, 1fr);
  }

  .primary-nav--header {
    grid-column: 1/-1;
  }

  .profile-container {
    grid-column-start: 8;
  }

  .intro__content {
    /* margin: 0; */
    align-self: start;
    grid-column: 1 / 9;
  }

  .intro__break {
    display: none;
  }

  .profile-container::after {
    inset: auto;
    bottom: 3rem;
    left: 0;
    background-position: center;
    transform: translateX(-50%);
  }

  .intro__content p {
    margin-block: 1.125rem 2.5rem;
  }
}

/* SKILLS SECTION */
.skills {
  margin-top: 5rem;
  background-image: url(./assets/images/pattern-rings.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right -300px;
  padding-bottom: 5rem;
}

.skills__wrapper {
  border-top: 1px solid var(--clr-neutral-100);
  border-bottom: 1px solid var(--clr-neutral-100);
  padding-block: 2.5rem;
}

.skills__list {
  --grid-gap: 0;
  row-gap: 1.5rem;
  text-align: center;
}

@media (min-width: 37.5em) {
  .skills {
    padding-bottom: 3.75rem;
    background-position: bottom 2rem right -300px;
  }

  .skills__wrapper {
    border-bottom: 0;
  }

  .skills__list {
    row-gap: 3.25rem;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    text-align: left;
  }
}

@media (min-width: 50em) {
  .skills__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
  }
}

/* PROJECTS SECTION */
.projects__header {
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.projects__list {
  --grid-gap: 2.5rem;
}

.project__text {
  margin-block: 1.25rem;
}

.project__skills {
  --flex-gap: 1.125rem;
}

.project__actions {
  --flex-gap: 2rem;
  /* outline: 2px solid red; */
}

@media (min-width: 37.5em) {
  .projects__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
    row-gap: 3.75rem;
  }
}

@media (min-width: 56.25em) {
  .project {
    position: relative;
  }

  .project__actions {
    --flex-gap: 3rem;
    opacity: 0;
    scale: 0;

    flex-direction: column;
    position: absolute;
    top: 138px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 200ms ease-in-out, scale 200ms ease-in-out;
  }

  .project__image {
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
  }

  .project__image:hover {
    opacity: .4;
  }

  .project:has(.project__image:hover) .project__actions,
  .project:has(.project__actions:hover) .project__actions {
    opacity: 1;
    scale: 1;
  }

  .project:has(.project__actions:hover) .project__image {
    opacity: .4;
  }

  .project__text {
    margin-block-end: 0;
  }
}

/* FOOTER */
.footer {
  margin-top: 5rem;
  background-color: var(--clr-neutral-700);
  padding-block: 3.75rem;
}

.footer__contact {
  max-width: 450px;
  margin: 0 auto;
  /* outline: 2px solid blue; */
}

.footer__message {
  text-align: center
}

.contact__form {
  --grid-gap: 2rem;
  margin-top: 3.125rem;
}

.error-message {
  display: none;

  color: #FF6F5B;
  font-size: .75rem;
  text-align: right;
  margin-top: 5px;
}

.form-group:has(.input-group.error) .error-message{
  display: block;
}

.contact__form .link {
  justify-self: end;
}

.footer .primary-nav {
  /* background-color: darkred; */
  padding-top: 2.5rem;
  border-top: 1px solid var(--clr-neutral-100);
  margin-top: 5.625rem;
}

.footer .nav__links {
  justify-content: center;
}

@media (min-width: 56.25em) {
  .footer__contact {
    max-width: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .contact__form {
    margin: 0;
  }

  .footer__message {
    text-align: left;
    max-width: 430px;
  }
}
