/* FONTS */
@font-face {
  font-family: 'Space Grotesk';
  src: url(./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
  font-style: normal;
  font-display: swap;
}

/* CUSTOM PROPERTIES */
:root {
  --clr-primary: hsl(153, 71%, 59%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(0, 0%, 85%);
  --clr-neutral-700: hsl(0, 0%, 14%);
  --clr-neutral-900: hsl(0, 0%, 8%);

  --ff-primary: 'Space Grotesk', sans-serif;

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-normal: 400;
}

/* RESET STYLES */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements 
with a list role, which suggests default 
styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  /* height: 100%; */
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* TYPOGRAPHY */
body {
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-500);
  line-height: 1.625;
  font-weight: var(--fw-medium);
  background-color: var(--clr-neutral-900);
}

.heading-xl,
.heading-large,
.heading-medium {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
}

.heading-xl {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -1.14px;
}

.heading-large {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -1px;
}

.heading-medium {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.3;
}

@media (min-width: 37.5em) {
  body {
    font-size: 1.125rem;
    line-height: 1.56;
  }

  .heading-xl {
    font-size: 4.5rem;
  }

  .heading-large {
    font-size: 3rem;
    line-height: 1.17;
  }
}

@media (min-width: 56.25em) {
  .heading-xl {
    font-size: 5.5rem;
  }
}

/* LAYOUT */
.wrapper {
  width: min(calc(100% - 2rem), 1110px);
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}

.flex {
  display: flex;
  align-items: center;
  gap: var(--flex-gap, 1rem);
}

@media (min-width: 37.5em) {
  .wrapper {
    width: min(calc(100% - 3.75rem), 1110px);
  }
}

/* LINKS */
.link {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--clr-neutral-100);
  outline: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.link:hover,
.link:focus-visible {
  color: var(--clr-primary);
}

.link::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--clr-primary);
  margin-top: 10px;
  width: 105%;
}